@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.first-section {
    background: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 60px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 100px;
}

.left-side .hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-side .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.first-section button {
    font-family: Roboto, sans-serif;
    border-radius: 6px; 
    border: none;
    padding: 4px 18px;
    background: #3882F6;
    color: #F9FAF8;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first-section .image {
    width: 400px;
    margin-top: 100px;
}

