@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.first-section {
    background: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 60px;
    height: 500px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 80px;
}

.left-side .hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-side .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.first-section button {
    font-family: Roboto, sans-serif;
    border-radius: 6px; 
    border: none;
    padding: 4px 18px;
    background: #3882F6;
    color: #F9FAF8;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first-section .image {
    width: 300px;
    margin-top: 140px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.second-section .top{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 30px;
}

.second-section .bottom {
    display: flex;
    gap: 40px;
    text-align: center;
}

.bottom .box {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.second-section img{
    height: 150px;
    border-radius: 6px;
    box-shadow: 0 0 0 5px #3882F6;
    margin-bottom: 10px;
}

.third-section {
    display: flex;
    background: #E5E7EB;
    justify-content: center;
}

.third-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 90px;
}

.third-section .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.third-section .author {
    margin-top: 10px;
    text-align: end;
    font-weight: 600;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.fourth-section .container {
    display: flex;
    gap: 64px;
    background: #3882F6;
    border-radius: 5px;
    padding: 32px 128px;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.left-section .main {
    font-weight: 800;
    font-size: 20px;
}

.left-section .secondary {
    color: #E5E7EB;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section button {
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-weight: 800;
    background: #3882F6;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 2px white;
    padding: 8px 32px;
}

.footer {
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer a {
    text-decoration: none;
    color:#E5E7EB
}