@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.first-section {
    background: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 60px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 80px;
}

.left-side .hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-side .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.first-section button {
    font-family: Roboto, sans-serif;
    border-radius: 6px; 
    border: none;
    padding: 4px 18px;
    background: #3882F6;
    color: #F9FAF8;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.first-section .image {
    width: 300px;
    margin-top: 140px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section .top{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 30px;
}

.second-section .bottom {
    display: flex;
    gap: 40px;
    text-align: center;
}

.bottom .box {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.second-section img{
    height: 150px;
    border-radius: 6px;
    box-shadow: 0 0 0 5px #3882F6;
    margin-bottom: 10px;
}

